.git
.codebuddy
.codex
.dev
node_modules
**/node_modules
apps/web/dist
apps/server/dist
apps/desktop/dist
apps/desktop/build
apps/desktop/.package
apps/cli/dist
apps/cli/assets
apps/cli/build/*
!apps/cli/build/
!apps/cli/build/skill/
!apps/cli/build/skill/**
packages/*/dist
*.tsbuildinfo
*.log
*.dmg
*.zip
!apps/cli/build/skill/*.zip
*.blockmap
.DS_Store
extracts
